/* these body and menu styles are global to the site and would go in a main.css type file */
body{
    background-color: rgb(4, 4, 83);
    color: whitesmoke;
    margin: 0;
    padding: 0;
}

header{
    color: rgb(4, 4, 83);
    background-color: whitesmoke;
    padding: 20px;
    text-align: center;
}

/* by specifying nav a, these styles will only apply to anchor tags within the nav section */
nav a{
    background-color: rgb(4, 4, 83);
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;
    margin: 10px;
    font-size: x-large;
}

/* add style(s) for when the mouse hovers over our nav menu */
nav a:hover{
    background-color: rgb(43, 43, 173); 
}

h2{
    padding: 30px;
}

p{
    padding: 20px;
}