body {
    margin: 0;
    padding: 10px;
    background-color: rgb(210, 214, 221);
    background-position: center;
    color: rgb(20, 20, 40);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

nav {
    background-color: white;
}